<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.toycode.wifistate"
      android:versionCode="2" android:versionName="1.1.0">
    <application android:icon="@drawable/icon2x1" 
                 android:label="@string/app_name">
	    <receiver android:name="com.toycode.wifistate.WiFiStateWidgetProvider2x1"
	              android:icon="@drawable/icon2x1"
	              android:label="@string/app_name2x1">
	    	<intent-filter>
	    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    		<action android:name="android.net.wifi.STATE_CHANGE" />
	    		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
						android:resource="@xml/state_provider2x1">
			</meta-data>
		</receiver>
	    <receiver android:name="com.toycode.wifistate.WiFiStateWidgetProvider2x1l"
	              android:icon="@drawable/icon2x1l"
	              android:label="@string/app_name2x1l">
	    	<intent-filter>
	    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    		<action android:name="android.net.wifi.STATE_CHANGE" />
	    		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
						android:resource="@xml/state_provider2x1l">
			</meta-data>
		</receiver>
		<service android:name="com.toycode.wifistate.UpdateService2x1"></service>
		<service android:name="com.toycode.wifistate.UpdateService2x1l"></service>
	</application>
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
 </manifest> 
